RewriteEngine On

# Allow existing files and directories to load normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Angular SPA fallback
RewriteRule ^ index.html [L]