@if (siteUnderDevelopment) {
  <app-under-development />
} @else if (siteUnderMaintenance) {
  <app-under-maintenance />
} @else {
  <!-- @if (showInauguration()) {
    <app-site-inauguration (finished)="onInaugurationFinished()" />
  } -->
  @if (isAdminArea()) {
    <!-- =====================================================
         ADMIN APPLICATION
         No public Navbar
         No public Footer
         ===================================================== -->

    <main class="admin-app">
      <router-outlet />
    </main>
  } @else {
    <!-- =====================================================
         PUBLIC WEBSITE
         ===================================================== -->

    <app-navbar />

    <main>
      <router-outlet />
    </main>

    <app-footer />
    <app-scroll-to-top />
    <!-- <app-vcare-genie /> -->
  }
}
